__pycache__
send-email.sh
message.txt
password.txt
xdiff_error_log.txt
relativepaths_test.py
email/*
config/*
eb-flash_steps_for_xdiff.xlsx
todo.txt
chuleta_git.txt
_Archive/
get-pip.py

*py.*.py
*/*py.*.py
data.db
__pycache__/
*.pyc
xdiff_error_log.txt

