[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
psutil = "*"
openpyxl = "*"
yattag = "*"
pyinotify = "*"
requests = "*"
xlrd = "*"
pandas = "*"
datetime = "*"
yagmail = "*"
keyring = "*"

[dev-packages]

[requires]
python_version = "3.8"
